<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="#" data-th-href="@{webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Insert title here</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/styles.css"></link>

</head>
<body>
        <!-- Footer -->
<footer class="bg-dark text-white pt-4 mt-4">
    <div class="container">
        <div class="row">
            <!-- Contact Info -->
            <div class="col-md-4 footer-contact">
                <h5>Contacto</h5>
                <ul>
                    <li>Dirección: Av. Italia 2. (CP 4600) San Salvador de Jujuy - Jujuy - Argentina</li>
                    <li>Teléfono: +54 388 422-1585</li>
                    <li>Correo electrónico: info@ingenieria.unju.edu.ar</li>
                </ul>
            </div>

            <!-- Social Media Links -->
            <div class="col-md-4 footer-social">
                <h5>Redes Sociales</h5>
                <ul>
                    <li><a href="https://facebook.com" target="_blank" rel="noopener noreferrer">Facebook</a></li>
                    <li><a href="https://twitter.com" target="_blank" rel="noopener noreferrer">Twitter</a></li>
                    <li><a href="https://instagram.com" target="_blank" rel="noopener noreferrer">Instagram</a></li>
                    <li><a href="https://linkedin.com" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
                </ul>
            </div>

            <!-- Copyright -->
            <div class="col-md-4">
                <h5>Derechos de Autor</h5>
                <p>&copy; 2024 Facultad de Ingeniería de Jujuy. Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>	
	</body>
</html>