<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Unju</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="#" data-th-href="@{webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
    <style>
         .aside-menu {
            background-color: #343a40;
            color: white;
            height: 110vh;
            padding: 50px;
        }
        .aside-menu a {
            color: white;
            text-decoration: none;
            display: block;
            padding: 10px 0;
        }
        .aside-menu a:hover {
            background-color: #495057;
            text-decoration: none;
    </style>
</head>
<body>

<!-- Header -->
<div data-th-replace="~{fragments/header :: header}"></div>
    <div data-th-replace="~{fragments/header :: navbar}"></div>
<!-- Main Content with aside -->
<div class="container-fluid">
    <div class="row">
        <!-- aside -->

        <aside class="col-md-2 aside-menu">
            <h5>Menú</h5>
            <a href="#biblioteca">Biblioteca</a>
            <a href="#calendario-academico">Calendario Académico</a>
        </aside>
        
        <!-- Main Content -->
        <main class="col-md-10">
            <div id="inicio" class="p-4">
                <h2>FIUNJU</h2>
                <p>Bienvenidos a la Facultad de Ingeniería de Jujuy.</p>
                <p>La Facultad de Ingeniería de Jujuy es una institución de excelencia académica, dedicada a la formación de profesionales en diversas áreas de la ingeniería. Con un compromiso con la innovación y el desarrollo tecnológico, nuestra facultad ofrece programas de estudio que preparan a los estudiantes para enfrentar los desafíos del mundo moderno.</p>
            </div>
            <div id="carreras" class="p-4">
                <h2>Carreras</h2>
                <p>La Facultad de Ingeniería de Jujuy ofrece las siguientes carreras:</p>
                <ul>
                    <li>Ingeniería Informatica</li>
                    <li>Ingeniería de Minas</li>
                    <li>Ingeniería Quimica</li>
                    <li>Analista Programador Universitario</li>
                    <li>Tecnicatura Universitaria en Diseño Integral de Videojuegos</li>
                    <li>Tecnicatura Universitaria en Perforaciones</li>
                </ul>
            </div>
            <div id="noticias" class="p-4">
                <h2>Noticias Recientes</h2>
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Inauguración del Nuevo Laboratorio de Ingeniería</h5>
                        <p class="card-text">El pasado viernes, la Facultad de Ingeniería de Jujuy inauguró su nuevo laboratorio de ingeniería, equipado con tecnología de última generación.</p>
                        <a href="#" class="btn btn-primary">Leer más</a>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Conferencia sobre Inteligencia Artificial</h5>
                        <p class="card-text">Próxima conferencia sobre los avances más recientes en inteligencia artificial, organizada por el departamento de Ingeniería Informática.</p>
                        <a href="#" class="btn btn-primary">Leer más</a>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Competencia de Robótica</h5>
                        <p class="card-text">La Facultad de Ingeniería de Jujuy celebrará su competencia anual de robótica el próximo mes. ¡Prepárate para participar!</p>
                        <a href="#" class="btn btn-primary">Leer más</a>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<!-- Footer -->
<div data-th-replace="~{fragments/footer::footer}"></div>
<script data-th-src="@{webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>